<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="https://casiimir.github.io/test/README">Home</a>
      <a href="https://casiimir.github.io/test/projects/00_project_template"
        >Proj. template</a
      >
      <a href="https://casiimir.github.io/test/projects/01_ecommerce"
        >Ecommerce</a
      >
      <a href="https://casiimir.github.io/test/projects/02_javascript"
        >JavaScriptS</a
      >
      <a href="https://casiimir.github.io/test/projects/03_react">React</a>
      <a href="https://casiimir.github.io/test/projects/04_career">Career</a>
      <a href="https://casiimir.github.io/test/volunteers">Volunteers</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>{{ content }}</section>
  </body>
</html>
